<!-- Navigation -->
<!-- Page Content -->
<div class="container">
    <!-- Heading Row -->
    <div class="row my-3">
        <div class="col-lg-6">
            <app-carrousel></app-carrousel>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-6">
            <app-detalles-tienda></app-detalles-tienda>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Tiendas Ingresadas</p>
        </div>
    </div>

<app-grillas></app-grillas>

 <!-- Heading Row -->
 <div class="row my-3">
    <div class="col-lg-6">
        <app-detalles-producto></app-detalles-producto> 
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-6">
        <app-card></app-card>
    </div>
    <!-- /.col-md-4 -->
</div>

<div>
    <app-tabla2></app-tabla2>

</div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Examen1B Lenin Montalvo</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>