
<p-table [value]="productos">
    <ng-template pTemplate="header">
        <tr>
            
            <th>numeroProducto</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>precio</th>
             <th> fechaLanzamiento</th>
              <th>aniosGarantia</th>
              <th>tiendaId</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" >
        <tr>
            <td> {{productos[0].numeroProducto}}</td>
            <td> {{productos[0].nombre}}</td>
       
        </tr>
    </ng-template>
</p-table>
