
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Nombres">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Direccion">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Fecha Apertura">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Ruc(entero)">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Matriz(booleano)">
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  






<button mat-raised-button color="primary">Limpiar</button>
<button mat-raised-button color="primary">Crear</button>