<!-- 
nombres
- direccion
- fechaApertura
- RUC (entero)
- matriz (booleano) -->


<div class="example-container">


    <h1 class="first">Detalle</h1>

    <table style="width: 30%; margin: 20px">
        <tr>
            <td> Nombres: </td>
            <td><mat-form-field>
                <input matInput placeholder="Nombres">
              </mat-form-field> </td>
        </tr>

        <tr>
        <td>Direccion:</td>
        <td>
            <mat-form-field>
                <input matInput placeholder="Direccion">
              </mat-form-field>
        </td>
        </tr>

        <tr>
            <td>Fecha Apertura:</td>
            <td>
                <mat-form-field>
                    <input matInput placeholder="Fecha Apertura">
                  </mat-form-field>
            </td>
        </tr>

        <tr>
          <td>RUC:</td>
          <td>
              <mat-form-field>
                  <input matInput placeholder="Ruc">
                </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>Matriz:</td>
          <td>
          <mat-form-field>
              <input matInput placeholder="Matriz(booleano)">
            </mat-form-field>
          </td>
        </tr>
        <br/>
        <tr> 
            <td style="text-align:center"><button mat-raised-button color="primary">Limpiar</button></td>
            <td style="text-align:center"><button mat-raised-button color="primary">Crear</button></td>
            
        </tr>
    </table>
    
    
   <!-- 
    
  
    
    <mat-form-field>
      <input matInput placeholder="Ruc(entero)">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Matriz(booleano)">
    </mat-form-field> -->
    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  






<!--<button mat-raised-button color="primary">Limpiar</button>
<button mat-raised-button color="primary">Crear</button> -->